.App {
  text-align: center;
}

html, body {
  overflow: hidden; /* Hides the scrollbar and disables scrolling */
}
.content {
  display: flex;
  background-color:#F5F5F5; 
  padding: 50px 120px 50px 120px; 
  box-sizing: border-box;
  
}
.todo-list, .todo-details {
  flex: 1; 
  box-sizing: border-box; 
  background-color: white; 
  /* padding: 20px;  */
  border-width: 20px;
  background-color: rgba(255, 255, 255, 255); 
  box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.1); 
 
}
.todo-details {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-color: white; 
  border-top-right-radius: 20px; 
  border-bottom-right-radius: 20px; 
  text-align: left;
  font-size: 16px;
}


.todo-list {
  background-color: white; 
  overflow-y: auto; 
  height: 580px;
  flex: 1;
  box-sizing: border-box;
  border-top-left-radius: 20px; 
  border-bottom-left-radius: 20px; 
  text-align: left;
  font-weight: bold;
}

.todo-list div {
  padding: 20px; 
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  color: #333; 
  transition: background-color 0.3s ease; 
  border-bottom: 2px solid #F5F5F5; 
  background-color: white; 
}

.todo-list div:hover {
  background-color: #F5F5F5;
}
.bold{
font-weight: bold;
}
.complete {
  background-color: green; /* Green */
  border: 2px solid green;
  border-radius: 5px;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 20px;
}
.delete {
  background-color: red;
  border: 2px solid red;
  border-radius: 5px;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 20px 20px 20px 0px;
}

/* Styling scroll bar */
.todo-list::-webkit-scrollbar-track {
  background-color: #f0f0f0; 
  border-radius: 10px; 
}

.todo-list::-webkit-scrollbar-thumb {
  background-color: #c0c0c0; 
  border-radius: 10px; 
 
}

.todo-list::-webkit-scrollbar {
  width: 6px; 
  background-color: white; 
}

